{% extends "FPBEBundle::layout.html.twig" %}

{% block title %}Admin Panel - About{% endblock %}

{% block content %}
    <div class="clearfix"></div>
    <div class="page-container">
        {{ parent() }}
        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        About
                    </h3>
                    <ul class="page-breadcrumb breadcrumb">

                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{{ url("fp.be.home.get_list") }}">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="">About</a>
                        </li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXTRAS PORTLET-->
                    <div class="portlet box grey">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-group"></i>About</div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            {{ render_esi(controller("FPBEBundle:About:getPartialEditForm")) }}
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END EXTRAS PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/fpbe/js/ImgCrop.js") }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var cropper = new ImgCrop({
                wrapper_class: "img_crop",
                form_class: "about_form",
                input_class: "image_upload_btn",
                image_class: "thumbnail",
                width: 370,
                height: 240,
                crop: true,
                autocrop: true
            });
            cropper.init();
        })
    </script>
{% endblock %}