<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.0
Version: 1.5.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Gabriel Hotel Login | Admin Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{{ asset("bundles/gbrbe/plugins/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/plugins/uniform/css/uniform.default.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/plugins/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset("bundles/gbrbe/plugins/select2/select2_metro.css") }}" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="{{ asset("bundles/gbrbe/css/style-metronic.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/css/style.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/css/style-responsive.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/css/plugins.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/css/themes/default.css") }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset("bundles/gbrbe/css/pages/login.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("bundles/gbrbe/css/custom.css") }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="{{ asset("bundles/gbrbe/favicon.ico") }}" />
</head>
<!-- BEGIN BODY -->
<!-- BEGIN LOGO -->ة
<body class="login">
<div class="logo">
    <img src="{{ asset("bundles/gbrbe/img/logo.png") }}" alt="" />
</div>
<!-- END LOGO -->
<div class="content">
{#{% extends "GbrBEBundle::layout.html.twig" %}#}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% block header %}{% endblock %}#}
{#{% block sidebar %}{% endblock %}#}

{#{% block content %}#}
{#<style type="text/css">#}
    {#div {#}
        {#backgorund: red;#}
    {#}#}
{#</style>#}
{#{% block fos_user_content %}#}
<p style="width: 180px; margin: 0px auto;">Resetting email has been sent.</p>
<span style="display:block; margin:0 auto; color:red; width:141px;">please check your mail</span>
{#{% endblock fos_user_content %}#}
{#{% endblock content %}#}
</div>
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2013 &copy; <a style="color:#C5CB0D" href="http://thesevenlayers.net">TheSevenLayers</a>
</div>
<!-- END COPYRIGHT -->
</body>


