{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form">
    {{ form_widget(form) }}
    <div>
        <a class="pull-right"  style="line-height: 34px;" href="{{ path("fos_user_profile_edit") }}">Back</a>
        <input class="btn green" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
